<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">

<script>

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected') {
      // uygulamaya ve facebook'a giriş yapıldı.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // facebook'a giriş yapıldı, uygulamaya giriş yapılamadı.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // facebook'a giriş yapılmadı.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1810297399213249',//Uygulama ID'si yazılıyor
    cookie     : true,  // cookie'ler enable ediliyor
    xfbml      : true,
    version    : 'v2.8' //graph api 2.8 versiyonunu kullan
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };

  // Facebook sdk'sını asenkron kur
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Graph api isteği döndüğünde giriş yapılıp yapılmadığı denenip gösteriliyor.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

</head>
<body>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

</body>
</html>
